.body{
    height: 80vh;
    width:100%;
    display: flex;
    justify-content: center;
}

.Boss2{
    padding-top:3%;
    padding-left: 10%;
    text-align: left;
    width: 100%;
    float: left;
    margin: 0;
}

.ligne{
    text-align: center;
    border-radius: 15px;
    margin-top:2%;
    height: 10%;
    width:30%;
    border: solid 1px;
    background:transparent;
    box-shadow:  2px 5px black;

}


.box {
    display: flex;
    flex-direction: row-reverse;
  }
  .one {
    flex: 1 5 auto;
  }

  .two {
    margin-top: 6%;

    flex: 1 1 auto;
  }
