.navbar {
    background-color: rgb(183, 247, 181);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;

  }
  
  .navmenu {
    background-color: rgb(183, 247, 181);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }

  .navmenuActive {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 850ms;
    left: 0;
    transition: 350ms;
 
  }
  
  
  span {
    margin-left: 16px;
  }