footer {
  overflow: hidden;
  background-color: #323232;
  padding: 20px 10px;
  text-align: center;
  bottom: 0;
}

hr {
  width: 60%;
  color: red;
  background-color: red;
  border-color: #399992;
}

.box {
  display: flex;
}

.one {
  flex: 1;
}

.two {
  flex: 1;
}

.three {
  flex: 1;
}

#titre {
  margin: 0;
  font-size: larger;
  color: #fff;
}

#info {
  color: white
}

#info:hover {
  color: #399992
}